<div class="bg-primary text-light h2 rounded-2 p-2 m-3">
  Parametrages-school-Medoune FALL
  <!-- Maintenant, si on va dans le navigateur, on pas les effet de bootstrap
   C'est parcequ'on a pas encore configurer bootstrap 
   On a deux facons de le configurer:
   1- On prends les lien dans la page de bootstrap sur le navigateur et 
      on le cole dans le index principal, celui du projet, vu qu'il est accesible a tous les composants
      les liens obtenue est: <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
      et <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>  
      
      NB: Le probleme en est que, en utilisant cette methode, on ne pourra pas customiser bootstrap
      -->
</div>

<router-outlet />
