<app-entete></app-entete>
<main class="d-flex justify-content-center">

  <form class="border p-2 rounded-2" [formGroup]="etudiantForm" >
    <div class="titrePage border-bottom-0">Ajout nouvel étudiant</div>
    <div class="mb-3">

      <div class="form-floating ">
        <input
          formControlName="prenom"
          type="text"
          class="form-control"
          [class.is-invalid]="etudiantForm.controls['prenom'].touched && etudiantForm.controls['prenom'].invalid"
          id="prenomInput"
        >
        <label for="prenomInput">Prenom</label>
      </div>

      @if(etudiantForm.controls['prenom'].touched && etudiantForm.controls['prenom'].errors){
        @if(etudiantForm.get('prenom')?.errors?.['required']){
          <div class="small text-danger ms-2 fst-italic">champ requis</div>
        }
        @if(etudiantForm.get('prenom')?.errors?.['minlength']){
          <div class="small text-danger ms-2 fst-italic">le prénom doit contenir au moins 2 caractères</div>
        }
        @if(etudiantForm.get('prenom')?.errors?.['maxlength']){
          <div class="small text-danger ms-2 fst-italic">le prénom doit contenir au max 10 caractères</div>
        }

      }

    </div>


    <div class="mb-3">

      <div class="form-floating ">
        <input
          formControlName="nom"
          type="text"
          class="form-control"
          [class.is-invalid]="etudiantForm.controls['nom'].touched && etudiantForm.controls['nom'].invalid"
          id="nomInput"
        >
        <label for="nomInput">Nom</label>
      </div>
      @if(etudiantForm.controls['nom'].touched && etudiantForm.controls['nom'].invalid){
        <div class="small text-danger ms-2 fst-italic">erreur sur le nom</div>
      }

    </div>

    <div class="form-floating mb-3">
      <input formControlName="tel" type="text" class="form-control" id="telephoneInput" placeholder="77XXXXXXX">
      <label for="telephoneInput">Téléphone</label>
    </div>

    <div class="form-check form-switch mb-3">
      <input formControlName="inscrit" class="form-check-input" type="checkbox" role="switch" id="inscritCheck">
      <label class="form-check-label" for="inscritCheck">Etudiant inscrit?</label>
    </div>

    <div class="form-floating mb-3">
      <select formControlName="classeId" class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option value="" >Choisir la classe</option>
        @for (cls of classes; track cls.id){
        <!--Le track est utilise lorsque l'id est unique          -->
          <option [value]="cls.id">{{cls.code}}: {{cls.nom}}</option>
        }

      </select>
      <label for="floatingSelect">Classe</label>
    </div>

    <div class="text-end">
      <button class="btn btn-danger rounded-2 me-2">Annuler</button>
      <button class="btn btn-primary rounded-2 " [disabled]="etudiantForm.invalid"  (click)="etudiantSave()">Enregistrer</button>
    </div>


  </form>
</main>

<!-- Proprietes pour la gestion des erreurs  -->
<!--form valid:{{etudiantForm.valid}}<br/>-->
<!--form invalid:{{etudiantForm.invalid}}<br/>-->
<!--form pristine:{{etudiantForm.pristine}}<br/>// estModifier-->
<!--form dirty:{{etudiantForm.dirty}}<br/>//!estModifier-->
<!--form touched:{{etudiantForm.touched}}<br/>-->
<!--form untouched:{{etudiantForm.untouched}}<br/>-->
