<app-entete></app-entete>
<main >
  <div class="container-fluid">
<!--    {{classe|json}
Quand on a des relations entre entite, il faut eviter d'utiliser:
- json,
-les methodes toString ...
ca permet d'avoir des boucles infinie surtout quand la relation est bidirectionnel

}-->
   <div class="row titrePage fw-bold">
       <!-- Le d-block signifie que pour les ecrans de petite come de grande taille,
            affiche le code({{classe?.code}})
       -->
       <span class="d-block d-lg-none ">Liste des etudiants de {{classe?.code}}</span>
      <!-- affiche(d-block ) mais n'affiche pas pour les ecran large(d-lg-none)-->
       <span class="d-none d-lg-block ">Liste des etudiants de {{classe?.nom}}</span>
       <!-- affiche pas mais n'affiche  pour les ecran large(d-lg-block)-->
       <!--
       Ici, on affiche le code quand l'ecran est petit(Tablette,...) et on affiche le nom quand
       l'ecran est extra large(Ordi, tele,...).
       -->
     </div>
     <div class="col-12">
       @if(etudiants.length==0){
         <div class="text-danger">Liste des etuiants vides</div>
       }
       @else(){
         @for (e of  etudiants; track e.id; let index=$index; let even=$even; let isOdd=$odd; let isFirst=$first ){
           <etudiants-items [etudiant]="e" [showDetails]="true"></etudiants-items>

         }

       }
     </div>
   </div>
</main>
