/* You can add global styles to this file, and also import other style files */
// $primary:rgb(156, 138, 4);
@import "ipslVariables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
// On impotre ici bootstrap, car elle est un librairie customisable
//Il existe des librairie non cutomisable, dans ce cas, on les met seulment dans angular.json

/*
Nb: il faut cree un fichier pour les variables: _ipslVariables.scss
    Puis on l'importe ici: @import "ipslVariables.scss";

    Maintenant que la fonctionalite config bootstrap est bien tester, on le merge dans le main.
    Moi j'ai cree une branche nommer customisation-bootstrap mais fallait pas ca pouvait simplement un commit
    dans la branche config-bootstrap.

    Maintenant, pour merger:
    1- on se place dans le main: git switch main
    2- on merge: git merge config-bootstrap et git merge customisation-bootstrap

    NB: l'interet des push est que lorqu'on fait des choses qui generent
        des erreurs, on peut supprimer le projet et le recloner a partir du repot.
*/
footer{
  @extend .fixed-bottom;
  @extend .bg-dark;
  @extend .text-light;
  @extend .text-center;
  @extend .p-2;
  @extend .small;
}

.detailTitre{
  @extend .bg-primary;
  @extend .text-light;
  @extend .h2;
  @extend .rounded-5
}

.abstracDetails{
  font-size: 12px;
}

.detailLabel{
  @extend .abstracDetails;
  @extend .fw-bold;
}
.detailValue{
  @extend .abstracDetails;
}

main{
  margin-top: 40px;
}
header{
  margin: 12px;
}
